<a href="https://colab.research.google.com/github/MaitreePimple/Data-Analytic/blob/main/Pandas_Removing_Duplicates.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

WHAT ARE DUPLICATE DATA ?



> Data which is repeated more then once


> To discover this data from dataset use
duplicated()

In [1]:
import pandas as pd
df = pd.read_json("data.json")
print(df.duplicated())

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
40    False
41    False
42    False
43    False
dtype: bool

In this dataset there is none but if there was any duplicate data we could have got true

REMOVING DUPLICATE


> if we get any data that is duplicated we can remove it by using drop_duplicates(inplace = True)

In [2]:
df.drop_duplicates(inplace =True)
print(df.head())

  Series   X     Y
0      I  10  8.04
1      I   8  6.95
2      I  13  7.58
3      I   9  8.81
4      I  11  8.33

The (inplace = True) will make sure that the method does NOT return a new DataFrame, but it will remove all duplicates from the original DataFrame.